.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 94vh;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f6f6f6;
  box-shadow: 
  10px -10px 30px 10px #8d42f5,
  -10px 10px 30px 10px #e040d7;
}